@{
    //ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="img/VanGogh.jpg"/> <!--Icon for the title-->
</head>

<body>
    <header class="container">
        <h1>Welcome to Dutch Treat</h1>
        <menu>
            @*<ul>
                <li><a href="/">Home</a></li>
                <li><a href="/app/contact">Contact</a></li>
                <li><a href="/app/about">About</a></li>
            </ul>
                This was original without tag helpers*@
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>
<section class="container">
    <h2>@ViewBag.Title</h2>
    @RenderBody() <!--This builds the body around this information. -->
</section>
<footer class="container">
    <div class="text-center">Copyright 2017 Dutch Treat LLC</div>
</footer>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/index.js"></script>
@RenderSection("scripts", false)
</body>
</html>